.username{
    border-radius: 12px;
    text-align: center;
    padding: 1%;
    margin-top: 5%;
}

.password{
    border-radius: 12px;
    text-align: center;
    padding: 1%;
    margin-top: 5%;
}

.login-btn{
    border-radius: 8px;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 5%;
    font-weight: bold;
}

.forgot-pass{
    display: inline-block;
    font-size: 18px;
    padding-left: 3%;
    color: lightblue;
}