.username{
    border-radius: 12px;
    text-align: center;
    padding: 1%;
    margin-top: 5%;
}

.password{
    border-radius: 12px;
    text-align: center;
    padding: 1%;
    margin-top: 5%;
}

.login-btn{
    border-radius: 8px;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 5%;
    font-weight: bold;
}

.forgot-pass{
    display: inline-block;
    font-size: 18px;
    padding-left: 3%;
    color: lightblue;
}

.new{
    display: inline-block;
    padding-right: 15px;
    font-size: 22px;
    text-align: center;
}

.reg{
    display: inline-block;
    font-size: 18px;
    color: aqua;
    text-align: center;
}

.usr-error{
    font-size: 18px;
    text-align: left;
    margin-left: 15px;
    color: red;
    display: none;
}

.pass-error{
    font-size: 18px;
    text-align: left;
    margin-left: 15px;
    color: red;
    display: none;
}